   H1 , H2 , H3 , H4 , H5  { FONT-FAMILY : Arial , Helvetica , Sans-Serif ; COLOR : #0000AA }
   BODY { color : #000000 ;
          background-color : #FFFFFF ;
          background-image : url(/wrf/blue_line2.gif) ;
          background-repeat : repeat-y;
          font-family : arial , helvetica , sans-serif }
   A:ACTIVE { COLOR : #00FFFF }
   A:HOVER { COLOR : #FFFF00 }
   A:LINK { COLOR : #FFFFFF }
   A:VISITED { COLOR : #AAAAAA }

   .left { text-align: left ;
              font-family:arial,helvetica,sans-serif;
              font-size:8pt; color:#FFFFFF ; 
              text-decoration: none }

   .tabtop { text-align: center ;
              font-family:arial,helvetica,sans-serif;
              font-size:8pt; color:#FFFFFF ;
              text-decoration: none }

   .tabtop2 { text-align: center ;
              font-family:arial,helvetica,sans-serif;
              font-size:8pt; color:#FFFFFF ;
              background-color : #FF0000 ;
              text-decoration: none }

   .mailer1 { text-align: left ;
              font-family:arial,helvetica,sans-serif;
              font-size:6pt; color: #000000 ;
              background-color : #FFFFFF ;
              text-decoration: none }

   .mailer2 { text-align: left ;
              font-family:arial,helvetica,sans-serif;
              font-size:10pt; color: #000000 ;
              background-color : #FFFFAA ;
              text-decoration: none }

   .link { font-family:arial,helvetica,sans-serif;
           color: #0000FF ;
           font-size:11pt;
           text-decoration: none }
